.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 122px);
    gap: 6px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 1px solid #52525b; */
    padding: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    color: #d4d4d4;
}

input{
    padding: 8px;
    background-color: #18181b;
    border: none;
    color: #e2e8f0;
    font-size: 1.1rem;
}

input:focus{
    outline: none;
}

.submitButton {
    border: none;
    background-color: #047857;
    border-radius: 5px;
    padding: 8px ;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}

.submitButton:hover{
    background-color: #10b981;
}

.createAccountButton {
    font-size: 0.9rem;
    border: none;
    color: #34d399;
}

.createAccountButton:hover{
    color: #a7f3d0;
}

span{
    font-size: 0.9rem;
}