.nav {
    background-color: #18181b;
    color: whitesmoke;
    padding: 12px 5%;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    list-style: none;
}



a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}