@import "../../sass/_sassConfing.scss";

.nav {
    /* border-bottom: 1px solid #333333; */
    color: $stone50;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

nav ul li a  {
    color: $stone50;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
}

a:hover{
    color: $emerald500 ;
}

.active {
    color: #838383 !important;
    cursor:default;
}

.ingresar-button {
    text-transform: uppercase;
    background-color: $emerald500;
    border: 1px solid $emerald500;
    color: rgb(0, 0, 0);
    padding: 2px 2px;
    border-radius: 4px;
    font-size: 1rem;
}

.ingresar-button:hover {
    background-color: transparent;
    color: $emerald500;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container:hover img {
    transform: rotate(90deg);
}

.logo-container:hover span{
    color: $stone50;
}

nav img {
    height: 40px;
    background-color: $stone50;
    padding: 1px;
    border-radius: 50%;
    margin-right: 8px;
    transition: all 0.2s ease-in-out;
}

.userButton {
    background:none;
    border: none;
    color: $emerald500;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.userButton:hover{
    color: $emerald500;
}

.userMenu {
    position: absolute;
    right: 5%;
    top: 60px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border: 1px solid $stone900;
    padding: 16px;
    background-color: $stone950;
}

.userMenu button, a {
    font-size: 0.9rem;
    background: none;
    text-decoration: none;
    border: none;
    color: rgb(233, 233, 233);
    display: inline-block;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

.userMenu button {
    color: $emerald500;
}

.userMenu button:hover,a:hover {
    color: $stone400;
}