.nav {
    border-bottom: 1px solid #52525b;
    color: whitesmoke;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: center;
}

a {
    color: #f1f5f9;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

a:hover{
    color: #94a3b8 ;
}

.active {
    color: #64748b !important;
    cursor:default;
}

.ingresar-button {
    background-color: #facc15;
    color: black;
    padding: 3px 12px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}

.ingresar-button:hover {
    color: black;
    background-color: #fde68a;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container:hover img {
    transform: rotate(90deg);
}

.logo-container:hover span{
    color: white;
}

img {
    height: 40px;
    background-color: white;
    padding: 1px;
    border-radius: 50%;
    margin-right: 8px;
    transition: all 0.2s ease-in-out;
}


