.nav {
    background-color: rgb(0, 0, 0);
    padding: 16px 8px;
    ul {
        display: flex;
        color: white;
        justify-content: flex-end;
        list-style: none;
        gap:6px;

        li {
            text-transform: uppercase;
            font-size: small;
        }

    }
        
    
}