@import "../../sass/sassConfing";

.createButton {
    align-self: flex-end;
    padding: 2px 8px;
    background-color: $stone800;
    border: none;
    color: $emerald300;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    font-size: .9rem;
}

.createButton:hover {
    background-color: $stone700;
}